/* RESET RULES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
}

/* LAYOUT RULES */

.container {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: 10px;
}

.col-33 {
  width: calc(100% / 3);
}

.card {
  position: relative;
}

h1 {
  font-size: 17px;
  text-transform: uppercase;
}

p.brand {
  font-size: 14px;
}

p.price {
  font-size: 14px;
}

.fav-icon {
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 20px;
  background-color: white;
  text-align: center;
  padding: 4px 8px;
}

.add-info {
  position: absolute;
  left: 0;
  bottom: 80px;
  font-size: 10px;
  padding: 2px 6px;
}

.discount {
  background-color: red;
  color: white;
}

.sust {
  background-color: green;
}

/* DEBUG RULES */

.debug .container {
  background-color: aquamarine;
}

.debug .row {
  min-height: 300px;
  border: 2px solid red;
}

.debug .col {
  background-color: rgb(0, 255, 68);
  border: 2px solid black;
}

.debug .prod-pic {
  background-color: cadetblue;
  border: 2px dotted purple;
  min-height: 300px;
}

.debug .prod-info {
  background-color: cornflowerblue;
  border: 2px dotted rgb(128, 32, 0);
  min-height: 30px;
}
